.product-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px 10px 10px 10px;
  text-align: center;
  width: 14%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  max-width: 100%;
  height: 110px;
}

.product-name {
  color: #333;
  font-size: 15px;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: green;
}

.product-description {
  font-size: 14px;
  color: #555;
}

.product-detail-add-section {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.product-detail-link {
  font-size: 12px;
  color: #555;
}

.product-detail-link:hover {
  color: #181616;
}

.add-to-cart-btn-card {
  background-color: #4a8dc7;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 11px;
}

.add-to-cart-btn-card:hover {
  background-color: #337ab7;
}
